* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* colors depend on project */
  --primary-clr: #3c6f9b;
  --secondary-clr: #294f66;
  --accent-clr: #5cb0e5;
  --text-clr: #666666;

  --bg-clr-dark: #252525;
}

html {
  scroll-behavior: smooth;

  height: 100%;
}

body {
  /* so the footer sticks to the bottom of page with margin-top: auto; */
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-size: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a {
  font-family: inherit;
}

/* names of pages */
h1 {
  margin: 2rem;

  text-align: center;
  text-transform: uppercase;

  font-size: min(8rem, 16vw);

  /* color: var(--primary-clr); */
}

/* names of sections */
h2 {
  margin: 0.5rem;

  text-align: center;
  text-transform: uppercase;

  font-size: min(3rem, 6vw);

  /* color: var(--primary-clr); */
}

/* names of subsections */
h3 {
  text-align: center;
  /* font-size: min(4rem, 8vw); */

  /* color: var(--secondary-clr); */
}

/* other titles (posts etc) */
h4 {
  /* font-size: 1.5rem; */

  /* color: var(--accent-clr); */
}

p,
pre {
  font-size: 1.25rem;

  /* color: var(--text-clr); */
}

a {
  /* color: var(--accent-clr); */
}

.hidden {
  display: none;
}

/*  */
/* App styles */
/*  */

.decks-container {
  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8vw;
}

/* .card-deck > * {
  border: 2px dotted black;
} */

.deck__bg {
  width: calc(20vw + 5rem);
  max-width: 20rem;
}

.deck__name {
  text-align: center;
}

.deck__bg,
.deck__name {
  transition: transform 0.3s ease-in-out;
}

.deck__bg:hover,
.deck__bg:focus,
.deck__name:hover,
.deck__name:focus {
  transform: scale(1.2);
}

/*  */
/* second part */
/*  */

.statement-card {
  width: calc(20vw + 5rem);
  max-width: 20rem;
  aspect-ratio: 0.625;

  margin: 0 auto;

  overflow: hidden;

  border: 3px solid gray;
  border-radius: 2rem;

  transition: transform 1s ease-in-out;
}

.card__img {
  width: 100%;
}

.card__text {
  padding: 1rem;
}

.button {
  padding: 2rem;

  font-size: 2rem;
  text-transform: uppercase;

  cursor: pointer;

  /* border: none; */
  border-radius: 1rem;
}

.order-buttons {
  margin: 2rem 5vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.order-button {
  width: 20rem;
  /* 
  padding: 2rem;

  font-size: 2rem;
  text-transform: uppercase;

  cursor: pointer;

  border: none;
  border-radius: 1rem; */
}

.statement-cards-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.statement-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.results {
  text-align: center;

  font-size: 2rem;
}
